In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('../Public Health Chlamydia Cases 2000-2014.csv')

data

,Community Area,Community Area Name,Cases 2000 Female 15-44,Incidence Rate 2000,Incidence Rate 2000 Lower CI,Incidence Rate 2000 Upper CI,Cases 2001 Female 15-44,Incidence Rate 2001,Incidence Rate 2001 Lower CI,Incidence Rate 2001 Upper CI,...,Incidence Rate 2012 Upper CI,Cases 2013 Female 15-44,Incidence Rate 2013,Incidence Rate 2013 Lower CI,Incidence Rate 2013 Upper CI,Cases 2014 Female 15-44,Incidence Rate 2014,Incidence Rate 2014 Lower CI,Incidence Rate 2014 Upper CI,WARNING
0,1,Rogers Park,258.0,1522.1,1336.4,1707.8,217.0,1298.5,1125.7,1471.3,...,1694.6,203,1393.1,1201.5,1584.7,234,1605.8,1400.1,1811.5,NaN
1,2,West Ridge,69.0,439.9,342.3,556.7,66.0,422.9,327.1,538.0,...,1160.9,164,1101.0,932.5,1269.5,159,1067.5,901.6,1233.4,NaN
2,3,Uptown,169.0,1079.7,916.9,1242.5,157.0,1009.5,851.6,1167.4,...,1262.4,135,922.2,766.6,1077.8,177,1209.1,1031.0,1387.2,NaN
3,4,Lincoln Square,51.0,431.3,321.1,567.1,59.0,501.8,382.0,647.3,...,734.0,66,592.7,458.4,754.1,72,646.6,505.9,814.3,NaN
4,5,North Center,26.0,277.1,181.0,406.0,35.0,373.1,259.9,518.9,...,532.2,36,384.4,269.2,532.2,39,416.4,296.1,569.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,75,Morgan Park,123.0,2284.1,1880.4,2687.8,91.0,1722.2,1386.6,2114.5,...,4226.8,156,3568.2,3008.3,4128.1,138,3156.5,2629.8,3683.2,NaN
75,76,O'Hare,10.0,342.8,164.4,630.4,11.0,378.0,188.7,676.3,...,1041.4,12,421.2,217.6,735.8,18,631.8,374.4,998.5,Rate and confidence interval estimates for yea...
76,77,Edgewater,106.0,673.8,545.5,802.1,102.0,654.9,527.8,782.0,...,852.7,99,699.4,568.4,851.5,90,635.8,511.3,781.5,NaN
77,99,Unknown,15.0,NaN,0.0,0.0,197.0,NaN,0.0,0.0,...,NaN,35,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN
78,88,Chicago,13112.0,1869.1,1837.1,1901.1,14176.0,2034.4,2000.9,2067.9,...,2768.1,16040,2451.3,2413.4,2489.2,16446,2513.3,2474.9,2551.7,Rate and confidence interval estimates for yea...

In [17]:
data.columns

Index(['Community Area', 'Community Area Name', 'Cases 2000 Female 15-44',
       'Incidence Rate 2000', 'Incidence Rate 2000 Lower CI',
       'Incidence Rate 2000 Upper CI', 'Cases 2001 Female 15-44',
       'Incidence Rate 2001', 'Incidence Rate 2001 Lower CI',
       'Incidence Rate 2001 Upper CI', 'Cases 2002 Female 15-44',
       'Incidence Rate 2002', 'Incidence Rate 2002 Lower CI',
       'Incidence Rate 2002 Upper CI', 'Cases 2003 Female 15-44',
       'Incidence Rate 2003', 'Incidence Rate 2003 Lower CI',
       'Incidence Rate 2003 Upper CI', 'Cases 2004 Female 15-44',
       'Incidence Rate 2004', 'Incidence Rate 2004 Lower CI',
       'Incidence Rate 2004 Upper CI', 'Cases 2005 Female 15-44',
       'Incidence Rate 2005', 'Incidence Rate 2005 Lower CI',
       'Incidence Rate 2005 Upper CI', 'Cases 2006 Female 15-44',
       'Incidence Rate 2006', 'Incidence Rate 2006 Lower CI',
       'Incidence Rate 2006 Upper CI', 'Cases 2007 Female 15-44',
       'Incidence Rate 2007', 'Incidence Rate 2007 Lower CI',
       'Incidence Rate 2007 Upper CI', 'Cases 2008 Female 15-44',
       'Incidence Rate 2008', 'Incidence Rate 2008 Lower CI',
       'Incidence Rate 2008 Upper CI', 'Cases 2009 Female 15-44',
       'Incidence Rate 2009', 'Incidence Rate 2009 Lower CI',
       'Incidence Rate 2009 Upper CI', 'Cases 2010 Female 15-44',
       'Incidence Rate 2010', 'Incidence Rate 2010 Lower CI',
       'Incidence Rate 2010 Upper CI', 'Cases 2011 Female 15-44',
       'Incidence Rate 2011', 'Incidence Rate 2011 Lower CI',
       'Incidence Rate 2011 Upper CI', 'Cases 2012 Female 15-44',
       'Incidence Rate 2012', 'Incidence Rate 2012 Lower CI',
       'Incidence Rate 2012 Upper CI', 'Cases 2013 Female 15-44',
       'Incidence Rate 2013', 'Incidence Rate 2013 Lower CI',
       'Incidence Rate 2013 Upper CI', 'Cases 2014 Female 15-44',
       'Incidence Rate 2014', 'Incidence Rate 2014 Lower CI',
       'Incidence Rate 2014 Upper CI', 'WARNING'],
      dtype='object')

In [18]:
data.describe()

,Community Area,Cases 2000 Female 15-44,Incidence Rate 2000,Incidence Rate 2000 Lower CI,Incidence Rate 2000 Upper CI,Cases 2001 Female 15-44,Incidence Rate 2001,Incidence Rate 2001 Lower CI,Incidence Rate 2001 Upper CI,Cases 2002 Female 15-44,...,Incidence Rate 2012 Lower CI,Incidence Rate 2012 Upper CI,Cases 2013 Female 15-44,Incidence Rate 2013,Incidence Rate 2013 Lower CI,Incidence Rate 2013 Upper CI,Cases 2014 Female 15-44,Incidence Rate 2014,Incidence Rate 2014 Lower CI,Incidence Rate 2014 Upper CI
count,79.000000,77.000000,76.000000,77.000000,77.000000,77.00000,76.000000,77.000000,77.000000,77.000000,...,78.000000,78.000000,79.000000,78.000000,78.000000,78.000000,79.000000,78.000000,78.000000,78.000000
mean,40.379747,340.506494,2131.769737,1778.590909,2473.432468,368.12987,2318.223684,1945.780519,2674.476623,357.103896,...,2800.491026,3741.073077,406.075949,2876.208974,2456.641026,3339.844872,416.354430,2914.244872,2489.066667,3384.397436
std,23.720760,1487.366815,1856.896256,1653.163406,2097.137056,1607.42655,2069.223499,1849.858452,2327.431770,1559.216239,...,2490.577573,3072.084649,1795.179527,2405.483456,2167.459444,2678.392239,1839.241483,2258.855008,2047.311414,2506.832857
min,1.000000,5.000000,92.200000,0.000000,0.000000,7.00000,145.100000,0.000000,0.000000,9.000000,...,103.700000,532.200000,5.000000,235.500000,76.500000,532.200000,13.000000,416.400000,229.600000,569.200000
25%,20.500000,36.000000,582.050000,342.300000,802.100000,48.00000,637.950000,447.400000,791.300000,47.000000,...,846.100000,1273.175000,53.500000,995.575000,778.850000,1223.825000,63.500000,1081.275000,859.375000,1309.075000
50%,40.000000,91.000000,1163.050000,936.400000,1408.900000,102.00000,1313.500000,1104.400000,1552.600000,107.000000,...,1568.550000,2441.600000,128.000000,1747.700000,1415.650000,2133.450000,142.000000,2015.850000,1716.150000,2383.450000
75%,59.500000,270.000000,3722.750000,3117.700000,4261.000000,287.00000,3754.375000,3082.800000,4365.100000,262.000000,...,4839.050000,6163.900000,303.500000,4654.250000,4031.900000,5456.125000,297.000000,4690.125000,3936.700000,5369.675000
max,99.000000,13112.000000,5936.100000,5210.300000,7737.000000,14176.00000,7433.000000,6526.000000,8726.600000,13750.000000,...,9002.900000,12870.900000,16040.000000,9260.600000,8325.800000,11062.000000,16446.000000,8818.500000,7997.500000,9730.700000

In [22]:
import re

# Read the CSV file into a DataFrame
df = pd.read_csv('../Public Health Chlamydia Cases 2000-2014.csv')

# Create a list to store dictionaries
data_list = []

# Regular expression pattern to extract the year
year_pattern = r'\b\d{4}\b'

# Iterate through rows and create dictionaries
for index, row in df.iterrows():
    for column in df.columns:
        if 'Cases' in column:
            # Extract the year using a regular expression
            year_match = re.search(year_pattern, column)
            if year_match:
                year = year_match.group()
                data_dict = {
                    'Community Area': row['Community Area'],
                    'Community Area Name': row['Community Area Name'],
                    'Year': year,
                    'Female 15-44': row[f'Cases {year} Female 15-44'],
                    'Incidence Rate Lower CI': row[f'Incidence Rate {year} Lower CI'],
                    'Incidence Rate Upper CI': row[f'Incidence Rate {year} Upper CI']
                }
                data_list.append(data_dict)

# Now, data_list contains dictionaries for each row and year

In [23]:
data = pd.DataFrame(data_list)
data

,Community Area,Community Area Name,Year,Cases,Female 15-44,Incidence Rate Lower CI,Incidence Rate Upper CI
0,1,Rogers Park,2000,258.0,258.0,1336.4,1707.8
1,1,Rogers Park,2001,217.0,217.0,1125.7,1471.3
2,1,Rogers Park,2002,229.0,229.0,1210.1,1570.1
3,1,Rogers Park,2003,224.0,224.0,1198.9,1560.3
4,1,Rogers Park,2004,189.0,189.0,1012.9,1349.7
...,...,...,...,...,...,...,...
1180,88,Chicago,2010,17590.0,17590.0,2648.5,2727.9
1181,88,Chicago,2011,18691.0,18691.0,2815.4,2897.4
1182,88,Chicago,2012,17851.0,17851.0,2688.1,2768.1
1183,88,Chicago,2013,16040.0,16040.0,2413.4,2489.2
1184,88,Chicago,2014,16446.0,16446.0,2474.9,2551.7

In [ ]:
data.to_csv('../Public Health Chlamydia Cases 2000-2014.csv')