In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('../Public Health Gonorrhea Cases 2000-2014.csv')

data

,Community Area,Community Area Name,Cases 2000 Male 15-44,Incidence Rate 2000,Incidence Rate 2000 Lower CI,Incidence Rate 2000 Upper CI,Cases 2001 Male 15-44,Incidence Rate 2001,Incidence Rate 2001 Lower CI,Incidence Rate 2001 Upper CI,...,Incidence Rate 2012 Upper CI,Cases 2013 Male 15-44,Incidence Rate 2013,Incidence Rate 2013 Lower CI,Incidence Rate 2013 Upper CI,Cases 2014 Male 15-44,Incidence Rate 2014,Incidence Rate 2014 Lower CI,Incidence Rate 2014 Upper CI,WARNING
0,1,Rogers Park,115.0,605.6,494.9,716.3,112.0,602.1,490.6,713.6,...,805.5,100.0,661.4,531.8,791.0,112.0,740.7,603.5,877.9,NaN
1,2,West Ridge,23.0,139.7,88.6,209.6,29.0,177.1,118.6,254.3,...,327.8,30.0,192.8,130.1,275.2,33.0,212.1,146.0,297.9,Rate and confidence interval estimates for yea...
2,3,Uptown,165.0,856.3,725.6,987.0,152.0,800.6,673.3,927.9,...,973.4,150.0,913.0,766.9,1059.1,235.0,1430.3,1247.4,1613.2,NaN
3,4,Lincoln Square,17.0,141.3,82.3,226.2,18.0,151.2,89.6,239.0,...,230.4,17.0,158.3,92.2,253.5,15.0,139.7,78.2,230.4,Rate and confidence interval estimates for yea...
4,5,North Center,14.0,144.2,78.8,241.9,12.0,124.5,64.3,217.5,...,315.6,16.0,177.5,101.5,288.2,17.0,188.6,109.9,302.0,Rate and confidence interval estimates for yea...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,75,Morgan Park,74.0,1528.9,1200.5,1919.4,58.0,1221.8,927.8,1579.5,...,1154.5,40.0,1022.2,730.3,1392.0,27.0,690.0,454.7,1003.9,NaN
75,76,O'Hare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,Rate and confidence interval estimates for yea...
76,77,Edgewater,101.0,559.3,450.2,668.4,72.0,404.1,316.2,508.9,...,777.2,105.0,670.0,541.8,798.2,160.0,1021.0,862.8,1179.2,NaN
77,99,Unknown,5.0,NaN,0.0,0.0,126.0,NaN,0.0,0.0,...,NaN,10.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
78,88,Chicago,6665.0,945.2,922.5,967.9,6323.0,904.3,882.0,926.6,...,659.5,3681.0,570.4,552.0,588.8,3390.0,525.3,507.6,543.0,Rate and confidence interval estimates for yea...

In [8]:
data.columns

Index(['Community Area', 'Community Area Name', 'Cases 2000 Male 15-44',
       'Incidence Rate 2000', 'Incidence Rate 2000 Lower CI',
       'Incidence Rate 2000 Upper CI', 'Cases 2001 Male 15-44',
       'Incidence Rate 2001', 'Incidence Rate 2001 Lower CI',
       'Incidence Rate 2001 Upper CI', 'Cases 2002 Male 15-44',
       'Incidence Rate 2002', 'Incidence Rate 2002 Lower CI',
       'Incidence Rate 2002 Upper CI', 'Cases 2003 Male 15-44',
       'Incidence Rate 2003', 'Incidence Rate 2003 Lower CI',
       'Incidence Rate 2003 Upper CI', 'Cases 2004 Male 15-44',
       'Incidence Rate 2004', 'Incidence Rate 2004 Lower CI',
       'Incidence Rate 2004 Upper CI', 'Cases 2005 Male 15-44',
       'Incidence Rate 2005', 'Incidence Rate 2005 Lower CI',
       'Incidence Rate 2005 Upper CI', 'Cases 2006 Male 15-44',
       'Incidence Rate 2006', 'Incidence Rate 2006 Lower CI',
       'Incidence Rate 2006 Upper CI', 'Cases 2007 Male 15-44',
       'Incidence Rate 2007', 'Incidence Rate 2007 Lower CI',
       'Incidence Rate 2007 Upper CI', 'Cases 2008 Male 15-44',
       'Incidence Rate 2008', 'Incidence Rate 2008 Lower CI',
       'Incidence Rate 2008 Upper CI', 'Cases 2009 Male 15-44',
       'Incidence Rate 2009', 'Incidence Rate 2009 Lower CI',
       'Incidence Rate 2009 Upper CI', 'Cases 2010 Male 15-44',
       'Incidence Rate 2010', 'Incidence Rate 2010 Lower CI',
       'Incidence Rate 2010 Upper CI', 'Cases 2011 Male 15-44',
       'Incidence Rate 2011', 'Incidence Rate 2011 Lower CI',
       'Incidence Rate 2011 Upper CI', 'Cases 2012 Male 15-44',
       'Incidence Rate 2012', 'Incidence Rate 2012 Lower CI',
       'Incidence Rate 2012 Upper CI', 'Cases 2013 Male 15-44',
       'Incidence Rate 2013', 'Incidence Rate 2013 Lower CI',
       'Incidence Rate 2013 Upper CI', 'Cases 2014 Male 15-44',
       'Incidence Rate 2014', 'Incidence Rate 2014 Lower CI',
       'Incidence Rate 2014 Upper CI', 'WARNING'],
      dtype='object')

In [ ]:
data.describe()

,Community Area,Cases 2000 Male 15-44,Incidence Rate 2000,Incidence Rate 2000 Lower CI,Incidence Rate 2000 Upper CI,Cases 2001 Male 15-44,Incidence Rate 2001,Incidence Rate 2001 Lower CI,Incidence Rate 2001 Upper CI,Cases 2002 Male 15-44,...,Incidence Rate 2012 Lower CI,Incidence Rate 2012 Upper CI,Cases 2013 Male 15-44,Incidence Rate 2013,Incidence Rate 2013 Lower CI,Incidence Rate 2013 Upper CI,Cases 2014 Male 15-44,Incidence Rate 2014,Incidence Rate 2014 Lower CI,Incidence Rate 2014 Upper CI
count,79.000000,65.000000,62.000000,65.000000,65.000000,68.000000,65.000000,68.000000,68.000000,68.000000,...,64.000000,64.000000,71.000000,67.000000,70.000000,70.000000,67.000000,66.000000,66.000000,66.000000
mean,40.379747,204.584615,1589.437097,1228.012308,1851.261538,185.588235,1419.124615,1085.197059,1675.855882,178.220588,...,746.304687,1310.535937,103.380282,824.762687,577.505714,1070.327143,100.761194,674.865152,486.933333,927.780303
std,23.720760,822.263965,1450.559192,1228.843084,1733.864860,762.926479,1350.961722,1132.385568,1627.377353,732.666319,...,682.719193,1084.483916,434.439585,710.981612,573.566294,928.185367,411.509125,516.314391,415.254758,673.353005
min,1.000000,0.000000,45.900000,0.000000,0.000000,0.000000,66.200000,0.000000,0.000000,0.000000,...,36.500000,178.700000,0.000000,79.100000,0.000000,0.000000,4.000000,90.900000,32.800000,184.300000
25%,20.500000,16.000000,200.000000,106.400000,241.900000,19.750000,177.100000,87.900000,233.625000,20.000000,...,115.500000,295.675000,13.000000,185.900000,102.350000,274.300000,14.500000,216.825000,122.250000,306.850000
50%,40.000000,59.000000,1272.550000,959.000000,1389.200000,49.500000,935.500000,709.900000,1046.050000,47.500000,...,625.500000,1012.050000,29.000000,645.500000,422.400000,757.600000,34.000000,535.450000,352.300000,737.850000
75%,59.500000,157.000000,2929.850000,2104.900000,3404.200000,135.750000,2549.600000,1897.000000,2890.100000,128.000000,...,1229.250000,2121.675000,89.000000,1433.050000,856.000000,1841.950000,68.500000,1173.175000,834.300000,1603.000000
max,99.000000,6665.000000,4934.200000,4424.500000,6424.900000,6323.000000,4759.900000,4253.200000,6115.400000,6071.000000,...,2352.300000,4126.300000,3681.000000,2646.400000,2138.600000,3238.500000,3390.000000,1710.200000,1383.700000,2297.000000

In [12]:
import re

# Read the CSV file into a DataFrame
df = pd.read_csv('../Public Health Gonorrhea Cases 2000-2014.csv')

# Create a list to store dictionaries
data_list = []

# Regular expression pattern to extract the year
year_pattern = r'\b\d{4}\b'

# Iterate through rows and create dictionaries
for index, row in df.iterrows():
    for column in df.columns:
        if 'Cases' in column:
            # Extract the year using a regular expression
            year_match = re.search(year_pattern, column)
            if year_match:
                year = year_match.group()
                data_dict = {
                    'Community Area': row['Community Area'],
                    'Community Area Name': row['Community Area Name'],
                    'Year': year,
                    'Male 15-44': row[f'Cases {year} Male 15-44'],
                    'Incidence Rate Lower CI': row[f'Incidence Rate {year} Lower CI'],
                    'Incidence Rate Upper CI': row[f'Incidence Rate {year} Upper CI']
                }
                data_list.append(data_dict)

# Now, data_list contains dictionaries for each row and year

In [13]:
data = pd.DataFrame(data_list)
data

,Community Area,Community Area Name,Year,Cases,Male 15-44,Incidence Rate Lower CI,Incidence Rate Upper CI
0,1,Rogers Park,2000,115.0,115.0,494.9,716.3
1,1,Rogers Park,2001,112.0,112.0,490.6,713.6
2,1,Rogers Park,2002,125.0,125.0,565.9,806.5
3,1,Rogers Park,2003,83.0,83.0,370.8,577.2
4,1,Rogers Park,2004,64.0,64.0,282.6,468.7
...,...,...,...,...,...,...,...
1180,88,Chicago,2010,3363.0,3363.0,503.6,538.8
1181,88,Chicago,2011,3863.0,3863.0,579.7,617.5
1182,88,Chicago,2012,4130.0,4130.0,620.5,659.5
1183,88,Chicago,2013,3681.0,3681.0,552.0,588.8
1184,88,Chicago,2014,3390.0,3390.0,507.6,543.0

In [14]:
data.to_csv('../Public Health Gonorrhea Cases 2000-2014.csv')